@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Fuentes de iconos */
@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?k88b4i');
    src:  url('/fonts/icomoon.eot?k88b4i#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?k88b4i') format('truetype'),
      url('/fonts/icomoon.woff?k88b4i') format('woff'),
      url('/fonts/icomoon.svg?k88b4i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon-arrow .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
  }
  .icon-icon-arrow .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(98, 224, 217);
  }
  .icon-icon-arrow .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(27, 35, 48);
  }
  .icon-icon-email:before {
    content: "\e903";
    color: #fff;
  }
  .icon-icon-location:before {
    content: "\e904";
    color: #fff;
  }
  .icon-icon-phone:before {
    content: "\e906";
    color: #fff;
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  

body{
    background:#181F2B;
    padding: 0;
    margin: 0;
}

.inicio{
    background:#1B2330;
    width: 100%;
    height: 120vw;
    overflow: hidden;
}
.nav-bar{
    display: flex;
}
.nav-img{
    width: 30%;
}
.nav-img img{
    width: 100%;
    margin-top: 5.5vw;
    margin-left: 5.5vw;
}
.nav{
    width: 70%;
    font-size: 3.5vw;
    margin-top: 4vw;
    margin-left: 10vw;
    font-family: "Raleway";
    font-weight: 100;
}
.nav li{
    display: inline;
    list-style: none;
    list-style: none;
    margin-left: 3vw;
}
.nav a{
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.img-principal{
    margin-top: 10vw;
    width: 100%;
    height: 33vw;
    text-align: center;
    margin-left: 2.5vw;
}
.img-principal img{
    margin-right: 5vw;
    position: relative;
    width: 85%;
    height: auto;
    z-index: 2;
}

.bg-curvy{
    width: 100%;
    position: relative;
    bottom: 43vw;
}

.nosotros{
    position: relative;
    background:#181F2B;
    width: 100%;
    height: 88vw;
    bottom: 52vw;
    color: #FFFFFF;
    text-align: center;
}
.nosotros-title{
    width: 90%;
    font-family: "Raleway";
    text-align: center;
    justify-content: center;
    font-size: 7vw;
    font-weight: 700;
    position: relative;
    bottom: 16vw;
    left: 5vw;
}
.nosotros-text{
    width: 80vw;
    text-align: center;
    justify-content: center;
    font-family: "Raleway";
    font-size: 3.8vw;
    font-weight: 400;
    position: relative;
    bottom: 16vw;
    left: 11vw;
}
.nosotros-button{
    background: linear-gradient(to right, #51C8D5,#3CADCF);
    color: #FFFFFF;
    font-family: "Raleway";
    font-size: 3.8vw;
    font-weight: 700;
    width: 60vw;
    height: 15vw;
    /* margin-left: 16vw; */
    text-align: center;
    position: relative;
    bottom: 10vw;
    border-radius: 10vw;
    border: none;
}

.servicios{
    position: relative;
    background:#181F2B;
    width: 100%;
    height: 220vw;
    bottom: 55.5vw;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
}
.servicio{
    margin-bottom: 12vw;
}
.servicio img{
    width: 15vw;
    margin-left: 43vw;
    margin-bottom: 3vw;
}
.servicio-title{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 3.5vw;
    text-align: center;
}
.servicio-text{
    font-family: "Raleway";
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    width: 70vw;
    margin-left: 15vw;
}

.description{
    position: relative;
    background:#181F2B;
    width: 100%;
    height: 190vw;
    bottom: 56vw;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.description img{
    width: 85%;
    margin-left: 7vw;
}

.description-title{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 5vw;
    margin-top: 15%;
    margin-left: 6%;
}
.description-text{
    font-family: "Raleway";
    font-size: 3.8vw;
    justify-content: left;
    font-weight: 400;
    margin-left: 6%;
    margin-right: 8%;
}
.description-text p{
    margin-top: 8%;
}
#description-link{
    text-decoration: none;
    color: #78C7C5;
    font-family: 'Open Sans';
    font-size: 3.5vw;
    font-weight: 400;
    margin-left: 6%;
    text-decoration: underline;
    text-underline-offset: 50%;
}
#comillas{
    width: 6%;
    position: relative;
    z-index: 10;
    bottom: 84vw;
    left: 12vw;
}
.cards{
    position: relative;
    z-index: 10;
    background:#181F2B;
    width: 100%;
    height: 120vw;
    bottom: 85vw;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.card{
    width: 80%;
    height: 85%;
    margin-bottom: 5vw;
    background: #21293C;
    border-radius: 1.3vw;
}

.card-text{
    font-family: 'Open Sans';
    font-size: 3vw;
    font-weight: 400;
    width: 90%;
    margin: 9% 0 0 7%;
}
.profile-img{
    height: 7vw;
    border-radius: 50%;
    margin-top: 8%;
    margin-left: 7%;
}
.profile-name{
    font-family: 'Open Sans';
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    bottom: 4vw;
}
.profile-position{
    font-family: 'Open Sans';
    font-size: 2vw;
    font-weight: 400;
    position: relative;
    left: 14.8vw;
    bottom: 5vw;
}

footer{
    background: #0C1524;
    height: 250vw;
    color: #FFFFFF;
}
.form{
    background: #1B2330;
    width: 80%;
    margin: 0 auto;
    border-radius: 3vw;
    position: relative;
    bottom: 48vw;
    padding: 5vw;
}
.form-title{
    font-family: "Raleway";
    text-align: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: 700;
    margin-top: 6vw;
}
.form-text{
    font-family: 'Open Sans';
    font-size: 3.6vw;
    font-weight: 400;
    text-align: center;
    margin-top: 7vw;
    margin-left: 5%; 
    width: 90%;
}
.form input{
    font-family: "Raleway";
    font-size: 3vw;
    font-weight: 700;
    width: 70vw;
    height: 11vw;
    margin: 7vw 0 5vw 2vw;
    padding-left: 8%;
    border-radius: 10vw;
    border: none;
}
.form button{
    background: linear-gradient(to right, #51C8D5,#3CADCF);
    color: #FFFFFF;
    font-family: "Raleway";
    font-size: 3.8vw;
    font-weight: 700;
    width: 76.7vw;
    height: 11vw;
    margin: 0 0 5vw 2vw;
    text-align: center;
    border-radius: 10vw;
    border: none;
}

.footer-img{
    width: 45%;
}
.footer-img img{
    width: 100%;
    margin-top: 5.5vw;
    margin-left: 10vw;
    position: relative;
    bottom: 30vw;
}

.footer-cards{
    position: relative;
    bottom: 20vw;
}

.contact{
    font-family: 'Open Sans';
    font-size: 4.5vw;
    font-weight: 400;
    width: 100%;
}
.ubication{
    display: flex;
}
.contact img{
    width: 5vw;
    height: 5vw;
    margin-left: 6vw;
    position: relative;
    top: 1.2vw;
}
.ubication img{
    width: 5vw;
    height: 6vw;
}
.contact span{
    width: 80%;
    margin-left: 7%;
    margin-bottom: 5%;
}
.contact-span:last-child{
    position: relative;
    top: 5vw;
}
#mail-img{
    top: 5vw;
}

.list > ul{
    color: white;
    font-family: "Raleway";
    font-weight: 100;
    font-size: 4.5vw;
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.list{
    margin-left: 5vw;
}
.list li{
    margin-top: 4vw;
}
.info{
    margin-top: 15vw;
    margin-bottom: 11vw;
}

.redes{
    margin-top: 17vw;
    text-align: center;
    margin-right: 5vw;
}
.redes-item{
    font-size: 5vw;
    display: inline;
    margin-left: 5vw;
}